# 只做展示
server:
  host: "127.0.0.1"
  port: 7860
  project_name: "AgentChat"
  version: "2.3.0"

# 根据自己的MySQL配置更改：mysql+pymysql://账号（root）:账号密码（123456）@主机地址（localhost）:端口号（3306）/数据库名
mysql:
  endpoint: "mysql+pymysql://root:mingguang0703@localhost:3306/agentchat"
  async_endpoint: "mysql+aiomysql://root:mingguang0703@localhost:3306/agentchat"

redis:
  endpoint: "redis://localhost:6379"

# 根据自己的LLM配置进行更改
multi_models:
  conversation_model:
    api_key: "sk-fc40dd0604f04142a07***********"
    base_url: "https://dashscope.aliyuncs.com/compatible-mode/v1"
    model_name: "qwen3-coder-plus"
  tool_call_model:
    api_key: "sk-fc40dd0604f04142a*********"
    base_url: "https://dashscope.aliyuncs.com/compatible-mode/v1"
    model_name: "qwen-plus"
  reasoning_model:
    api_key: "sk-6d47d94f4c73435***********"
    base_url: "https://api.deepseek.com/v1"
    model_name: "deepseek-reasoner"
  text2image:
    api_key: "sk-fc40dd0604f04142**********"
    base_url: "https://dashscope.aliyuncs.com/api/v1/services/aigc/text2image/image-synthesis"
    model_name: "wanx2.0-t2i-turbo"
  qwen_vl:
    api_key: "sk-fc40dd0604f04142a07********"
    base_url: "https://dashscope.aliyuncs.com/compatible-mode/v1"
    model_name: "qwen-vl-plus"
  qwen3_coder:
    api_key: "sk-fc40dd0604f04142a*********"
    base_url: "https://dashscope.aliyuncs.com/compatible-mode/v1"
    model_name: "qwen3-coder-plus"

  # 根据自己的Embedding配置进行更改
  embedding:
    api_key: "sk-fc40dd0604f04142a*********"
    base_url: "https://dashscope.aliyuncs.com/compatible-mode/v1"
    model_name: "text-embedding-v4"

  # 根据自己的Rerank配置进行更改
  rerank:
    api_key: "sk-fc40dd0604f04142*********"
    base_url: "https://dashscope.aliyuncs.com/api/v1/services/rerank/text-rerank/text-rerank"
    model_name: "gte-rerank-v2"


tools:
  # 使用高德地图上的天气api
  weather:
    api_key: "fac0ad465078da96a3********"
    endpoint: "https://restapi.amap.com/v3/weather/weatherInfo?parameters"

  # 使用的tavily上的联网搜索功能， 1000次/month
  tavily:
    api_key: "tvly-dev-RMf7KBCQLyXhn3t************"

  # 使用的是serpapi上的Google Search的api
  google:
    api_key: "cdc3b207606843b4c883849c3a0f833c13057811b*********"

  # 使用的是aliyun上的快递查询api
  delivery:
    api_key: "df695c94fc644d27b23**********"
    endpoint: "https://qyexpress.market.alicloudapi.com/composite/queryexpress"

rag:
  enable_summary: False # 是否对片段进行摘要

  retrival:
    top_k: 5  # 知识库召回的数量
    min_score: 0.2 # 知识库召回的最小分数

  split:
    chunk_size: 500 # 知识库片段的最大字符数
    overlap_size: 100 # 知识库片段之间的重复字符

  elasticsearch:
    hosts: "http://127.0.0.1:9200"

  # vector db根据自己的配置更改
  vector_db:
    host: "127.0.0.1"
    port: "19530"
    mode: "chroma" # standalone 代表完整功能的Milvus; lite是轻量版的Milvus; chroma是更轻量级的向量库，mode 选择 chroma 不需要填host和 port


aliyun_oss:
  access_key_id: "LTAI5tL85xWWx**********"
  access_key_secret: "MiKCkLCx9qZzxc6D***********"
  endpoint: "oss-cn-beijing.aliyuncs.com"
  bucket_name: "agentchat"
  base_url: "https://agentchat.oss-cn-beijing.aliyuncs.com"

# 默认配置 (如图标 URL, 资源链接)
default_config:
  mcp_logo_url: "https://agentchat.oss-cn-beijing.aliyuncs.com/icons/mcp/mcp.png"
  tool_logo_url: "https://agentchat.oss-cn-beijing.aliyuncs.com/icons/tool.png" # 工具默认图标 URL
  agent_logo_url: "https://agentchat.oss-cn-beijing.aliyuncs.com/icons/tools/bot.png" # Agent 默认图标 URL
  mars_daily_url: "https://news.aibase.com/zh/news" # 外部新闻链接
  memory_collection_name: "memory" # 记忆存储的集合名称

# 扩展功能：微信配置 (不添加也可正常运行)
wechat_config:
  token: "LiangTian"
  app_id: "wxf768871******"
  secret: "063c4df15544235abd9******"

# 追踪工具 Langfuse 配置 (目前版本可能未应用)
langfuse:
  trace_name: "agentchat"
  host: "https://cloud.langfuse.com"
  public_key: "pk-lf-q3e80e5f-da6d-40cb-8bc1-******" # Langfuse 公钥
  secret_key: "sk-lf-q3e80e5f-da6d-40cb-8bc1-******" # Langfuse 私钥
  user_id: "LiangTian" # 用户 ID

# 接口白名单路径
whitelist_paths: ["/api/v1/login"]